<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>공구 목록</h1>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>공구 이름</th>
        <th>공구 상세 설명</th>
        <th>이미지 파일</th>
        <th>modDate</th>
        <th>regDate</th>
        <th>공구 링크</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tool : ${list}">
        <td th:text="${tool.id}">1</td>
        <td th:text="${tool.tool_name}">Tool Name</td>
        <td th:text="${tool.description}">Description</td>
        <td th:text="${tool.img_text}">img_text</td>
        <td th:text="${tool.modDate}">modDate</td>
        <td th:text="${tool.regDate}">regDate</td>
        <td><a th:href="@{/tool/detail/{id}(id=${tool.id})}">상세 설명으로 이동</a></td>
    </tr>

    </tbody>
</table>

</body>
</html>